{% extends 'base.html' %}

{% block content %}
<div>
  <p></p>
    <br/>
    <br/>
    <h3>내 실험</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">실험번호</th>
          <th scope="col">실험명</th>
          <th scope="col">학기</th>
          <th scope="col">교강사</th>
          <th scope="col">평점</th>
        </tr>
      </thead>
      <tbody>
        {% for my_research in my_researches %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{ my_research.title.research_number }}</td>
          <td>{{ my_research.title.title }}</td>
          <td>{{ my_research.title.get_semester_display }}</td>
          <td>{{ my_research.title.prof }}</td>
          <td>{{ my_research.score }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
